#header-container {
  top: 0;
  left: 0;
  width: 1521px;
  height: 100px;
  background-color: transparent;
  z-index: 1000;
}

#header {
  position: fixed;
  background-color: #2C3930;
  padding-left: 40px;
  padding-right: 40px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 1000;
  transition: all 0.5s ease;
  left: 0;
  right: 0;
}

#header.scrolled {
  width: calc(100% - 70px); 
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 50px;
}

h1 {
  font-size: 36px;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: #DCD7C9;
}

#header-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 293px;
  height: 44px;
}


.nav-button.active {
  border-radius: 50px;
  background-color: #A27B5C;
  color: #2C3930;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  transform: scale(1.05);
} 


#header-nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 646px;
  height: 55px;
  padding: 3px 3px;
  background-color: #3F4F44;
  border-radius: 50px;
  margin-left: 125px;
  overflow: hidden;
}

.nav-indicator {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100px;
  height: 45px;
  background-color: #A27B5C;
  border-radius: 50px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.nav-button {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100%;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #DCD7C9;
  border-radius: 50px;
  transition: background-color 0.2s ease, color 0.2s ease;
}