#home {
  background-color: #DCD7C9;
  margin: 0;
  padding: 100px 170px 100px 170px ;
  height: 650px;
  display: flex;  
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1
}

.home-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 0; /* Ensure the overlay is behind the content */
  pointer-events: none; 
}

.overlay1 {
  width: 100%;
  height: 100%;
  background-color: transparent; /* Semi-transparent white */
  object-fit: cover; /* Ensures image covers full area without stretching */
}

.profile-container {
  width: 444px;
  height: 444px;
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: #A27B5C;
  border-width: 20px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.home-text-container {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.heading-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items:end;
}

.subheading-container {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: start;
}

.heading {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: #010101;
  text-align: center;
  padding-bottom: 2px;
}

.heading2 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 80px;
  color: #A27B5C;
  text-align: center;
  padding-left: 15px;
}

.heading, .heading2 {
  line-height: 1; /* Remove extra spacing that could push text visually off */
  margin: 0;       /* Remove default margin from <h1> */
  padding-bottom: 5px;
}

.subheading {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 32px;
  color: #3F4F44;
  text-align: left;
  padding-top: 5px;
  padding-right: 50px;
}

.overlay2 {
  position: absolute;
  top: 684px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1; /* Must be above #home and #about backgrounds */
  pointer-events: none;
  
}